Repository COVESA/dlt-viewer, pull requests merged in 2025-06, with the labels that each got.

#669 Restore build of the unit tests on CI
  .github/workflows/BuildPR.yml
  scripts/linux/installUbuntu22and24.sh
Labels: merge, Build pipeline

#675 Prepare CI for qt6
  .github/workflows/BuildPR.yml
  .github/workflows/Release.yml
  scripts/darwin/build.md
  scripts/darwin/build_cmake_qt5.sh
  scripts/darwin/install_qt5.sh
Labels: Build pipeline

#681 Remove obsolete unused code from MainWindow
  src/mainwindow.cpp
  src/mainwindow.h
Labels: merge

#684 Restore string arg encoding
  qdlt/qdltargument.cpp
  qdlt/tests/test_qdltargument.cpp
Labels: bug, merge
